body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    text-align: center;
  }
  
  header {
    background-color: teal;
    color: white;
    padding: 20px;
  }
  
  main {
    padding: 50px;
  }
  
